#title{
    text-align: center;
}
.welcome{
    color: green;
}
.first{
    color: green;
}
.button1{
    color: green;
    background-color: white;
    border: solid 1px green;
}
.button1:hover{
    color: white;
    background-color: green;
}
